<% content_for(:navbar) do %>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <!-- <li><a href="#">Links Would Look Like This</a></li> -->
  <% if current_user %>
  Signed in as
  <strong><%= current_user.email %></strong>!
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:'btn' %>
  <%= link_to "Edit Profile", edit_user_registration_path, class:'btn' %>
  <% end %>
</ul>
<% end %>
<img class="responsive-img cover" src="<%= asset_path 'cover.jpg'%>">
<div class="white-text decision">
  <%= link_to 'Become A Mentor', join_mentor_path, class:'btn left'%>
  <%= link_to 'Become A Mentee', join_mentee_path, class:'btn right'%>
</div>
