<!DOCTYPE html>
<html>
  <head>
    <title>MentAfrica</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to 'MentAfrica', root_path, class:"brand-logo center"%>
          <%= yield(:navbar)%>
        </div>
      </nav>
    </div>
    <div>
      <div class="red">
        <%= flash[:alert]%>
      </div>
      <div class="green">
        <%= flash[:notice]%>
      </div>
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.js', 'data-turbolinks-track': 'reload' %>
</html>
